.border-style {
  padding: 0;
  width: 1px;
  opacity: 0.2;
  background: #231f20;
  box-shadow: 0px 0px 20px 0px #231f20;
}
.advertisement {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #231f20;

  font-family: "Montserrat";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
