// .widget {
//   height: 200px;
//   width: 200px;
//   border: 1px solid #ddd;
//   background-color: #eee;
//   display: flex;
// }
// .widget-header {
//   background-color: #1976d2;
//   flex: 0 0 15px;
//   min-width: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .widget-header > span {
//   color: #fff;
//   font-size: 10px;
//   transform: rotate(-90deg);
//   white-space: nowrap;
// }
// .widget-content {
//   border: 1px solid blue;
//   flex: 1;
// }

.home-banner {
  display: flex;

  .text-side {
    width: 500px;
    display: flex;
    align-items: center;
    // gap: 156px;
    .vertical-text {
      margin-top: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 28px;
      min-width: 0;
      width: 20px;
      span {
        color: rgba(35, 31, 32, 0.1);
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        transform: rotate(-90deg);
        white-space: nowrap;
        // transform-origin: 0% 100%;
      }
    }
    .content {
      flex: 1;
      margin-inline-start: 156px;
      .title1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        .first {
          color: #000;
        }
        .second {
          color: #a01246;
        }
      }
      .title2 {
        font-size: 104.819px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        .first {
          color: #000;
        }
        .second {
          color: #c0966b;
        }
      }
      .text-description {
        margin-top: 64px;
        width: 589px;
        color: #231f20;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .banner-btn {
        margin-top: 32px;
        display: inline-flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 10px;
        background: #c0966b;
        color: #e6e7e8;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
  .banner-img {
    flex-grow: 1;
  }
}
