.blog {
  width: 576px;
  // box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  .blog-image {
    box-shadow: 0px 0px 15px 0px rgba(35, 31, 32, 0.5);
  }
  .blog-text {
    // box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px 35px 16px;
    width: 576px;
    height: 200px;
    flex-shrink: 0;
    background: #e6e7e8;
    box-shadow: 0px 0px 15px 0px rgba(35, 31, 32, 0.5);
    background: #e6e7e8;
    .name-date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name {
        color: #c0966b;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .date {
        color: #231f20;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
    .description {
      color: #231f20;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
.go-to-all-blogs {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  color: #000;
  font-size: 26.256px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 8px;
}
