.collection {
  display: flex;
  min-width: 750px;
  max-width: 880px;
  width: 100%;
  height: 250px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #d9d9d9;
  padding: 0 0 0 64px;
  justify-content: space-between;
  align-items: flex-end;
  .text-box {
    display: flex;
    height: 100%;
    align-items: center;
    color: #231f20;

    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
}
