.footer {
  height: fit-content;
  background: #231f20;
  padding-top: 96px;
  .subscribe {
    display: flex;
    justify-content: center;
    .subscribe-input {
      border: none;
      width: 45%;
      height: 100px;
      flex-shrink: 0;
      border-radius: 16px 0px 0px 16px;
      background: #e6e7e8;
      padding: 0 32px;
      &:focus {
        box-shadow: none !important;
        outline: none;
      }
      color: #231f20;

      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .subscribe-btn {
      width: 226px;
      height: 100px;
      flex-shrink: 0;
      border: none;
      border-radius: 0px 16px 16px 0px;
      background: #c0966b;
      color: #e6e7e8;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
  }
  .footer-menu {
    margin-top: 166px;
    margin-bottom: 140.5px;
    .title {
      margin-bottom: 40px;
      color: #e6e7e8;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
    .item {
      cursor: pointer;
      color: #e6e7e8;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.6;
    }
  }
  .hor {
    margin: 0 128px;
    height: 2px;
    opacity: 0.2;
    background: #e6e7e8;
    color: red;
  }
  .footer-social {
    display: flex;
    align-items: center;
    margin-top: -28px;
    padding: 0 128px;
    .footer-copyright {
      display: flex;
      align-items: center;
      gap: 16px;
      color: #e6e7e8;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .social-icons {
      display: flex;
      align-items: center;
      gap: 64px;
    }
  }
}
