.home-page {
  display: flex;
  flex-direction: column;
  gap: 128px;
  padding-bottom: 142px;
}
.para-title {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #231f20;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  &.with-margin {
    margin-bottom: 48px;
  }
}
