.product-details {
  display: flex;
  flex-direction: column;
  gap: 128px;
  padding-bottom: 55px;
  .common-details {
    display: flex;
    gap: 112px;
    .images {
      width: 700px;
      flex-shrink: 0;
    }
    .details {
      padding-top: 133px;
      .name {
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }
      .stars {
        margin-top: 32px;
      }
      .extra-info {
        margin-top: 80px;
        .title {
          color: #a01246;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 32px;
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .one-info {
            display: flex;
            align-items: center;
            gap: 16px;
            color: rgba(35, 31, 32, 0.8);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      .prcie-fav {
        margin-top: 74px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline-end: 96px;
        .price {
          display: flex;
          gap: 16px;
          align-items: flex-end;
          .current-price {
            color: #a01246;
            font-size: 64px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          .price-without-discount {
            color: #231f20;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: line-through;
          }
        }
        .fav-stat {
          display: flex;
          gap: 32px;
        }
      }
    }
  }
  .services {
    justify-content: space-between;
    row-gap: 102px;
    // gap: 102px;
    margin: 0;
    padding: 0;
    .service {
      width: 335px;
      display: flex;
      gap: 32px;
      align-items: center;
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.catgories-and-types {
  gap: 110px;
  .types {
    padding: 32px 64px;
    width: 608px;
    background: #e6e7e8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    .options {
      margin-top: 32px;
      padding-inline-end: 80px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .option {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text {
          display: flex;
          gap: 19px;
          align-items: center;
          color: #231f20;
          font-size: 32px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
        .price {
          color: #a01246;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    .input-field {
      margin-top: 56px;
      .label {
        color: #231f20;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .input-box {
        padding: 0 16px;
        width: 480px;
        height: 72px;
        flex-shrink: 0;
        border: none;
        border-radius: 8px;
        background: #d9d9d9;
        &:focus {
          border: none;
        }
      }
    }
    .add-to-cart {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .add-remove {
        display: flex;
        gap: 24px;
        align-items: center;
        color: #231f20;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .add-to-cart-btn {
        display: inline-flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 14.443px;
        border: none;
        border-radius: 8.666px;
        background: #c0966b;
        color: #e6e7e8;
        font-size: 28.886px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
.categories-table-wrapper {
  margin: 0;
  overflow: auto;
  background: #e6e7e8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  table {
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
    word-break: break-word;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
  }

  th {
    padding: 8px 24px;
  }
  tr:nth-child(odd) {
    background: #d9d9d9;
  }
  td:nth-child(odd) {
    color: #231f20;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .array-td {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .item {
      display: flex;
      gap: 8px;
    }
  }
  td:nth-child(even) {
    color: #231f20;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  td {
    vertical-align: middle;
    padding: 16px 24px;
  }
}
.product-details-review {
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .go-to-all-reviews {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 12px;
      color: #231f20;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .review-card {
    width: 576px;
    padding: 16px 32px;
    height: 288px;
    flex-shrink: 0;
    background: #e6e7e8;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    .review-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .review-stars {
      display: flex;
      margin: 32px 0 16px;
      gap: 8px;
    }
    .review-text {
      color: #231f20;
      font-size: 32px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    .review-date {
      text-align: end;
      margin-inline-start: auto;
      color: #231f20;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
  .add-your-review {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    color: #231f20;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
