.product-box {
  width: 436px;
  min-width: 436px;
  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-shrink: 0;
    background: #e6e7e8;
    box-shadow: 0px 0px 20px 0px rgba(35, 31, 32, 0.5),
      0px 0px 50px 0px rgba(35, 31, 32, 0.25) inset;
  }
  .box-content {
    padding: 32px 16px;
    width: 100%;
    // height: 200px;
    flex-shrink: 0;
    background: #e6e7e8;
    box-shadow: 0px -10px 20px 0px rgba(35, 31, 32, 0.25),
      0px 0px 15px 0px rgba(35, 31, 32, 0.5);
    .name-star-fav {
      display: flex;
      justify-content: space-between;
      .name {
        height: 60px;
        overflow: hidden;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .price-add-to-cart {
      margin-top: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        color: #a01246;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .add-to-cart-btn {
        display: inline-flex;
        padding: 8.083px;
        justify-content: center;
        align-items: center;
        gap: 8.083px;
        border: none;
        border-radius: 5.969px;
        background: #c0966b;
      }
    }
  }
}
.offers-header {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .offers-btns {
    display: flex;
    align-items: center;
    .all-btn {
      cursor: pointer;
      width: 75.429px;
      color: #231f20;
      font-size: 27.429px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
